@model IEnumerable<PROGP2.Models.Product>

@{
    ViewData["Title"] = "Create Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        
<h1>Create Product</h1>

<p>
    <a asp-action="AddProduct">Create Listing</a>
</p>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer Products</title>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="services">
            @foreach (var product in Model)
            {
                <a href="#">
                    <span class="single-img">
                        <span class="img-text">
                            <h4>@product.Name</h4>
                            <p>Category: @product.Category.Name</p>
                            <p>Description: @product.Description</p>
                            <p>Production Date: @product.ProductionDate.ToShortDateString()</p>
                            <p>Price: R @Random.Shared.Next(10, 100)</p>
                            <button>Buy Now</button>
                        </span>
                    </span>
                </a>
            }
        </div>
    </div>
</body>
</html>